nav{
    width: 500px;
    margin: 1rem auto;
}
.nav-link{
    padding: 0.5rem;
    background-color: #ff9910;
    color: #fff;
    text-decoration: none;
    margin-right: 1rem;
}

#currency {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #currency td, #currency th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #currency tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #currency th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9910;
    color: white;
  }